<div class="row">
	<div class="large-10 columns panel step" style="background-color: #c6bcad">
		<div class="row">
			<div class="large-10 columns">
				<h4 class="subheader">{{ title }}</h4>
				<blockquote>
					{{ content|nl2br }}
					<cite> {{ action }}() </cite>
				</blockquote>
			</div>
			<div class="large-2 columns">
				<img src="./img/composer.png" />
			</div>
		</div>
		<div class="row">
			{% if response == 'finish'%}
				<hr/>
				<div data-alert class="alert-box radius">
					Ackbar finished working !
				</div>
			{% elseif response == 'error'%}
				<hr/>
				<div data-alert class="warning alert-box radius">
					ERROR !
				</div>
			{%elseif response == 'enderror'%}
				<hr/>
				<div data-alert class="warning alert-box radius">
					Ackbar stop working - ERROR.
				</div>
			{% endif %}
		</div>
	</div>
</div>