{% autoescape false %}
________________________________________________________________________________

{{ title }}

{{ content }}

- {{ action }}()

{% if response == 'finish'%}
--------------------------------------------------------------------------------
-                      Ackbar finished working !                               -
--------------------------------------------------------------------------------
{% elseif response == 'error'%}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
--------------------------------------------------------------------------------
{%elseif response == 'enderror'%}
--------------------------------------------------------------------------------
-                /!\ Ackbar stop working - ERROR. /!\                          -
--------------------------------------------------------------------------------
{% endif %}

{% endautoescape %}