{% autoescape false %}
{% macro dumpArray(content) %}
{% import _self as dumpMe %}
{% for key, value in content %}
{% if key != 'logos' %}
{% if value is iterable %}
* {{key}}
{{ dumpMe.dumpArray(value) }}
{% elseif value|length %}
{% if key|length %}
* {{ key }} : {{ value }}
{% else %}
{{ value|raw }}
{% endif %}
{% else %}
* {{ key }} : {{ value ? 'true' : 'false' }}
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}

{% import _self as dumpMe %}
________________________________________________________________________________

{{ title }}

{{ dumpMe.dumpArray(content) }}

- {{ action }}()

{% if response == 'wait' and force == false %}
--------------------------------------------------------------------------------
-                        Press enter to continue                               -
--------------------------------------------------------------------------------
{% endif %}

{% endautoescape %}