{% macro dumpArray(content) %}
	{% import _self as dumpMe %}
	<ul class="no-bullet ">
		{% for key, value in content %}
			{% if key != 'logos' %}
				{% if value is iterable %}
					<li><h4>{{key}}</h4></li>
					<ul class="no-bullet">
						<li>{{ dumpMe.dumpArray(value) }}</li>
					</ul>
				{% elseif value|length %}
					<li>{{ key }} : <b><pre>{{ value }}</pre></b></li>
				{% else %}
					<li>{{ key }} : <b><pre>{{ value ? 'true' : 'false' }}</pre></b></li>
				{% endif %}
			{% endif %}

		{% endfor %}
	</ul>
{% endmacro %}

{% import _self as dumpMe %}

<div class="row">
	<div class="large-10 columns panel"style="background-color: #ccffcc">
		<div class="row">
			<div class="large-10 columns">
				<h4 class="subheader">{{ title }}</h4>
				<blockquote>
					{{ dumpMe.dumpArray(content) }}
					<cite> {{ action }}() </cite>
				</blockquote>
			</div>
			<div class="large-2 columns" >
				{% for key,value in content['logos']%}
					<div class="row" style="margin:0 0 10px auto;">
						<img src="./img/{{ value }}.png" />
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% if response == 'wait' and force == false %}
<div class="row">
	<div class="large-10 columns panel"style="background-color: #ccffcc">
		<a class="button radius large-4 columns wait">Continue</a>
	</div>
</div>
{% endif %}