{% autoescape false %}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
--------------------------------------------------------------------------------
[{{ errno }}] {{ error }}
{{ errfile }}:{{ errline }}
{% endautoescape %}