<div class="row">
	<div class="large-10 columns panel callout step">
		<div class="row">
			<div class="large-10 columns">
				<div class="row">
					<div data-alert class="alert alert-box radius">ERROR<br/>[{{ errno }}] {{ error }}<br/>{{ errfile }}:{{ errline }}</div>
				</div>
			</div>
		</div>
	</div>
</div>