{% autoescape false %}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
--------------------------------------------------------------------------------
{{ exception }}
{% endautoescape %}