{% autoescape false %}
________________________________________________________________________________

{% if stop is defined %}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
--------------------------------------------------------------------------------
Error on {{ action }} 
Message : {{ error|default('Not a big problem') }}
Code : {{ code|default('--') }}
Please call support !
--------------------------------------------------------------------------------
{% else %}
--------------------------------------------------------------------------------
-                      Ackbar finished working !                               -
--------------------------------------------------------------------------------
{% endif %}

{% endautoescape %}