<div class="row">
	<div class="large-10 columns panel callout step">
		<div class="row">
			<div class="large-10 columns">
				{% if stop is defined %}
					<div class="row">
						<div data-alert class="alert alert-box radius">Error on {{ action }} <br/> Message : {{ error|default('Not a big problem') }} <br/> Code : {{ code|default('--') }}<br/> Please call support !</div>
					</div>
				{% else %}
					<div class="row">
						<div data-alert class="success alert-box radius">Ackbar finished working !</div>
					</div>
				{% endif %}
			</div>
			{#<div class="large-2 columns">
				<img src="./img/ackbar.jpg"/>
			</div>#}
		</div>
	</div>
</div>