<div class="row">
	<div class="large-10 columns panel callout step">
		<div class="row">
			<div class="large-10 columns">
				<h4 class="subheader">{{ title }}</h4>
				<blockquote>
					{{ content|nl2br }}
					<cite> {{ action }}() </cite>
				</blockquote>

				{% if error is defined or response == 'error' %}
					<hr/>
					<div class="row">
						<div data-alert class="warning alert-box radius"> Error code : {{ code }}<br />{{ error|default("unknown error")|nl2br }}</div>
					</div>
				{% endif %}

				{% if response == 'wait' and force is not defined %}
					<hr/>
					<div class="row">
						<a class="button radius warning large-4 columns wait" id='{{ additionalFunction }}'>{{ additionalFunction }}</a>
						{% if next is defined%}
							<a class="button radius large-4 columns skip">&gt; Skip</a>
						{% endif%}
					</div>
				{% elseif response == 'finish' %}
					<hr/>
					<div class="row">
						<div data-alert class="alert-box radius">Ackbar finished working !</div>
					</div>
				{% endif %}
			</div>
			<div class="large-2 columns">
				<img src="./img/{{ framework }}.png"/>
			</div>
		</div>
	</div>
</div>