{% autoescape false %}
________________________________________________________________________________

{{ title }}

{{ content }}

- {{ action }}()

{% if error is defined or response == 'error' %}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
--------------------------------------------------------------------------------
Error code : {{ code }}
{{ error|default("unknown error") }}
--------------------------------------------------------------------------------
{% endif %}

{% if response == 'wait' and force is not defined %}
--------------------------------------------------------------------------------
- {{ additionalFunction }} : {{ additionalFunction }}
-                        Press [enter] to continue                               -
{% if next is defined%}
-                           Press [s] to skip                                  -
{% endif%}
--------------------------------------------------------------------------------
{% elseif response == 'finish' %}
--------------------------------------------------------------------------------
-                      Ackbar finished working !                               -
--------------------------------------------------------------------------------
{% endif %}

{% endautoescape %}