<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ACKBAR | {{ name }}</title>
		<link rel="stylesheet" href="./foundation/css/foundation.css" />
		<style type='text/css'>
			#page_loader{ display: none; width: 128px; height: 128px; position: fixed; left: 45%; top:39%; z-index: 550; }
			#page_loader img{ width: 100%; }
			#shadowing{ display : none; position : fixed; top : 0%; left : 0%; width : 100%; height:100%; right : 100%;
						background-color : #706B64; opacity : 0.4; z-index : 1040; cursor: wait;
			}
			pre {font-family: courier new; line-height:1rem; display: inline-block;}
			.project:first-child { margin-top: 5rem; }
		</style>
	</head>
	<body>
		 <div id="modal_ComposerUpdate" class="reveal-modal" data-reveal aria-labelledby="ComposerUpdateTitle" aria-hidden="true" role="dialog">
			<h2 id="ComposerUpdateTitle">Composer Update</h2>
			<p>Veuillez patientez, Ackbar réalise une étape qui peut prendre plusieurs minutes.</p>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

		<div id='shadowing'></div>
		<div id="page_loader">
			<img src="./img/spinner.gif" />
		</div>

		<div class="fixed contain-to-grid">
			<nav class="top-bar" data-topbar role="navigation">
				<section class="top-bar-section">
					<ul class="large-5 large-centered">
						<li class="name">
							<h1 style='color: #ffffff;'>{{ name }}</h1>
						</li>
					</ul>
					<ul class="right">
						<li><a href="#" style="background-color: crimson;" class="restart">Restart</a></li>
					</ul>

				</section>
			</nav>
		</div>
		<div class='allSteps'>
			<div class='row'>
			{% for project in projects|default([]) %}
				<div class='project medium-12 large-8 large-offset-2 end columns secondary button radius' data-projectid='{{ project.getId() }}'>{{ project.getName()|default(project.getId()) }}</div>
			{% endfor %}
			</div>
		</div>

		<script src="./foundation/js/vendor/jquery.js"></script>
		<script src="./foundation/js/vendor/fastclick.js"></script>
		<script src="./foundation/js/vendor/modernizr.js" type="text/javascript"></script>
		<script src="./foundation/js/foundation.min.js" type="text/javascript"></script>
		<script>
$(document).foundation();
var options = { {% for key, option in options %}{{ key|e('js') }}: "{{ option|e('js') }}"{% if not loop.last %},{% endif %} {% endfor %} };
</script>
		<script src="./js/ackbar.js" type="text/javascript"></script>
	</body>
</html>
