{% autoescape false %}
________________________________________________________________________________
{{ name }}
{% for project in projects|default([]) %}
    {{ project.getId() }} : {{ project.getName()|default(project.getId()) }}
{% endfor %}
________________________________________________________________________________

{% endautoescape %}