{% autoescape false %}
________________________________________________________________________________

{{ title }}

{{ content }}

- {{ action }}()

{% if (alertStep is defined) and (response == 'error') %}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
- {{ alertStep }}
--------------------------------------------------------------------------------
{% endif %}
{% if response == 'wait' and force == false %}
--------------------------------------------------------------------------------
- {{ additionalFunction }} : {{ additionalFunction }}
-                        Press [enter] to continue                               -
{% if next is defined%}
-                           Press [s] to skip                                  -
{% endif%}
--------------------------------------------------------------------------------
{% elseif response == 'finish'%}
--------------------------------------------------------------------------------
-                      Ackbar finished working !                               -
--------------------------------------------------------------------------------
{% elseif response == 'error'%}
--------------------------------------------------------------------------------
-                            /!\ ERROR /!\                                     -
{%  if additionalFunction is defined %}
- {{ additionalFunction }} : {{ additionalFunction }}
{% endif %}
--------------------------------------------------------------------------------
{%elseif response == 'enderror'%}
--------------------------------------------------------------------------------
-                /!\ Ackbar stop working - ERROR. /!\                          -
--------------------------------------------------------------------------------
{% endif %}

{% endautoescape %}