<div class="row">
	<div class="large-10 columns panel step" style="background-color: #ffffcc">
		<div class="row">
			<div class="large-10 columns">
				<h4 class="subheader">{{ title }}</h4>
				<blockquote>
					{{ content|nl2br }}
					<cite> {{ action }}() </cite>
				</blockquote>
			</div>
			<div class="large-2 columns">
				<img src="./img/{{ type }}.png" />
			</div>
		</div>
		<div class="row">
			{% if (alertStep is defined) and (response == 'error') %}
				<div class="row alertStep large-centered columns" >
					<span class="alert label"><h5 style="color: #ffffff;">{{ alertStep }}</h5></span>
				</div>
			{% endif %}
			{% if response == 'wait' and force == false %}
				<a class="button radius warning large-4 columns wait" id='{{ additionalFunction }}'>{{ additionalFunction }}</a>
				{% if next == true %}
					<a class="button radius large-4 columns skip">&gt; Skip</a>
				{% endif%}
			{% elseif response == 'finish'%}
				<hr/>
				<div data-alert class="alert-box radius">
					Ackbar finished working !
				</div>
			{% elseif response == 'error'%}
				<hr/>
				{%  if additionalFunction is defined %}
					<div class='row'>
						<a class="button radius warning large-4 columns wait" id='{{ additionalFunction }}'>{{ additionalFunction }}</a>
					</div>
				{% endif %}
				<div data-alert class="warning alert-box radius">
					ERROR !
				</div>
			{%elseif response == 'enderror'%}
				<hr/>
				<div data-alert class="warning alert-box radius">
					Ackbar stop working - ERROR.
				</div>
			{% endif %}
		</div>
	</div>
</div>